h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.hide {
  -webkit-transform: translate(0, -1000px);
          transform: translate(0, -1000px); }
  @media (min-width: 768px) {
    .hide {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

.contact {
  background-color: #fff; }
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #008aff;
    border-radius: 30px 0 0; }
    @media (min-width: 768px) {
      .contact__wrapper {
        display: grid;
        grid-template-columns: 300px 300px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding-top: 180px;
        padding-bottom: 120px;
        border-radius: 0 200px 0 0; } }
    @media (min-width: 1024px) {
      .contact__wrapper {
        grid-template-columns: 400px 300px;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media (min-width: 1440px) {
      .contact__wrapper {
        gap: 0 226px;
        padding-left: 227px;
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset; } }
    @media (min-width: 1600px) {
      .contact__wrapper {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding-left: 227px;
        padding-right: 227px; } }
  .contact__communications-container {
    grid-column: 2;
    grid-row: 1; }
  .contact__form-container {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 50px; }
    @media (min-width: 1024px) {
      .contact__form-container {
        margin-bottom: 0; } }
  .contact__title {
    margin: 0 0 30px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    color: #fff; }
    @media (min-width: 768px) {
      .contact__title {
        text-align: left;
        margin: 0 0 56px;
        width: 179px; } }
  .contact__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff; }
  .contact__item {
    text-align: center; }
    @media (min-width: 768px) {
      .contact__item {
        text-align: left; } }
    .contact__item--outer {
      margin-bottom: 48px; }
  .contact__item-title {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .contact__item-text {
    width: 280px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600; }
    @media (min-width: 768px) {
      .contact__item-text {
        width: 100%; } }
    .contact__item-text--telephone {
      text-decoration: none;
      color: #fff;
      outline: none;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      .contact__item-text--telephone:hover {
        color: #253757; }
  .contact__item-socials {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact__form-title {
    margin: 0 0 56px;
    font-family: "Poppins", sans-serif;
    font-size: 27px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    color: #fff; }
    @media (min-width: 768px) {
      .contact__form-title {
        font-size: 32px;
        line-height: 48px;
        text-align: left; } }

/*# sourceMappingURL=contact.css.map */
