h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.hide {
  -webkit-transform: translate(0, -1000px);
          transform: translate(0, -1000px); }
  @media (min-width: 768px) {
    .hide {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

.slider {
  position: relative;
  width: 300px;
  height: 295px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .slider {
      width: 350px;
      height: 345px; } }
  @media (min-width: 1024px) {
    .slider {
      width: 500px;
      height: 495px; } }
  @media (min-width: 1440px) {
    .slider {
      width: 687px;
      height: 680px; } }
  .slider__photo-container {
    border-radius: 0 100px;
    overflow: hidden;
    width: 300px;
    height: 295px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .slider__photo-container {
        width: 350px;
        height: 345px;
        border-radius: 130px 0 0; } }
    @media (min-width: 1024px) {
      .slider__photo-container {
        width: 500px;
        height: 495px;
        border-radius: 200px 0 0; } }
    @media (min-width: 1440px) {
      .slider__photo-container {
        width: 687px;
        height: 680px; } }
  .slider__photo {
    opacity: 0;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .slider__photo:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .slider__photo--active {
      opacity: 1; }
  .slider__nav-container {
    width: 250px;
    margin: 0 0 30px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff; }
    @media (min-width: 768px) {
      .slider__nav-container {
        width: 300px;
        margin: 0 0 20px 20px; } }
    @media (min-width: 1024px) {
      .slider__nav-container {
        width: 360px;
        margin: 0 0 48px 48px; } }
  .slider__arrow-container {
    width: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .slider__text-container {
    cursor: default; }
  .slider__arrow {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none; }
    .slider__arrow::after {
      content: "";
      width: 6px;
      height: 9px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: center; }
    .slider__arrow:hover::after, .slider__arrow:active::after, .slider__arrow:focus::after {
      -webkit-transform: translate(70%, -50%) scale(1.2);
              transform: translate(70%, -50%) scale(1.2); }
    .slider__arrow--left::after {
      background-image: url(../images/arrow-left.svg); }
    .slider__arrow--left:hover::after, .slider__arrow--left:active::after, .slider__arrow--left:focus::after {
      -webkit-transform: translate(-170%, -50%) scale(1.2);
              transform: translate(-170%, -50%) scale(1.2); }
  .slider__title {
    margin: 0 0 8px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .slider__caption {
    width: 150px;
    margin: 0;
    font-size: 14px;
    line-height: 20px; }
    @media (min-width: 768px) {
      .slider__caption {
        width: 200px; } }
    @media (min-width: 1024px) {
      .slider__caption {
        width: 264px; } }

/*# sourceMappingURL=slider.css.map */
